body {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

a {
  text-decoration: none;
}
/* Set height of body and the document to 100% to enable "full page tabs" */
/* body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
} */

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(3, 3, 3);
  display: none;
  padding: 100px 20px;
  /* Temporary padding */
  padding-bottom: 43rem;
}



/* Style each tab content individually */
#breakfast {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
#lunch {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
#dinner {
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}
#dessert {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.nav-wrapper {
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  color: black;
}

nav .brand-logo {
  color: black;
  text-decoration: none;
  margin-left: 0.6rem;
}

a:hover {
  color: black;
}

.addRecipe {
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.col-md-5 img {
  width: 100%;
}

.tab_choice {
  margin: 0 auto;
}

#my_recipes a {
  text-decoration: none;
}

.btn {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
  color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.edit-recipe {
  height: 1.5rem;
  padding-top: 0;
}

.edit-delete-right {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.9;
}

.edit-delete-left {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#meal_label {
    top: 0 ;
}

.recipe-container {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.col-md-7 {
    background-image: url("https://res.cloudinary.com/chickpeas/image/upload/v1592175517/marble-surface-2341290_gtphsy.jpg");
    background-repeat: no-repeat;   
}

.become-member-container {
    padding-top: 2rem;
}

.hidden {
  display: none;
}
