@import url("https://fonts.googleapis.com/css2?family=Amarante&family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Amarante", cursive;
}
a {
  text-decoration: none;
}

a:hover {
  color: black;
}

ul {
  list-style-type: none;
}

/* Slideshow */
.view {
  height: 100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.tab_choice {
  margin: 0 auto;
}

/* Tab links for recipes page */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1rem;
  width: 25%;
}

@media only screen and (max-width: 575px) {
  /* Tab links recipe titles and info for phones */
  .tablink {
    font-size: 4vw;
  }

  .title {
      font-size: 6vw;
  }

  .info {
      font-size: 4vw;
  }
}

.tablink:hover {
  background-color: #777;
}

/* Tab content */
.tabcontent {
  color: rgb(3, 3, 3);
  display: none;
  padding: 100px 1rem;
  /* Temporary padding to fill screen */
  padding-bottom: 43rem;
}

.tab-container {
  padding-top: 2.9rem;
}

/* Course content color */
#breakfast {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
#lunch {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
#dinner {
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}
#dessert {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.nav-wrapper {
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  color: black;
}

.addRecipe {
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.col-md-5 img {
  width: 100%;
}

#my_recipes a {
  text-decoration: none;
}

.btn {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#meal_label {
  top: 0;
}

.recipe-container {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.col-md-7 {
  background-image: url("https://res.cloudinary.com/chickpeas/image/upload/v1592411276/lukas-blazek-EWDvHNNfUmQ-unsplash_xwx2sd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.become-member-container {
  padding-top: 2rem;
}

.hidden {
  display: none;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url("https://www.w3schools.com/css/searchicon.png");
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: white;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

@media only screen and (max-width: 575px) {
  /* Dropdown For mobile phones: */
  .dropdown-content-ingredients {
    position: fixed;
    z-index: 2;
    left: 20%;
    right: 30%;
  }
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show - for the dropdown menu */
.show {
  display: block;
}

.featurette-image {
  max-height: 20rem;
}

/* Flashed/toast messages */
.toast-margin {
  z-index: 5;
}

/* Loading styling */
.loader-bg {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background: #085702;
  width: 100%;
  height: 100%;
}

.loading-container {
  text-align: center;
  font-size: 5rem;
  height: 100%;
  width: 100%;
  margin-top: 40vh;
}
