{% extends 'base.html' %} {% block content %}
<!-- Broken Link message Message -->
<h1>Looks like this link is broken. If you are able to update the link, please do so.</h1>
<!--Following link will take user back to the previous page.-->
<div><button class="btn float-left ml-5" onclick="goBack()">
<i class="fas fa-arrow-circle-left"></i> Take me back to the previous page.</button></div>
{% endblock %}
{% endblock %}{% block js %}
<script>
//Back button
function goBack() {
  window.history.back();
}
</script>
{% endblock %}
