{% extends 'base.html' %} {% block content %}
<!-- Broken Link message Message -->
<h1 class="mt-5 pt-5">
  Looks like this external link is broken.
</h1>
<p>If you are able to update the link, please do so.</p>
<!--Following link will take user back to the previous page.-->
<div>
  <button class="btn float-left ml-5" onclick="goBack()">
    <i class="fas fa-arrow-circle-left"></i> Take me back to the previous page.
  </button>
</div>
{% endblock %} {% block js %}
<script>
  //Back button
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}
