{% extends 'base.html'%} {% block content %}
<main class="container addRecipe">
  <h1>Create Recipe</h1>
  <form>
    <div class="form-group">
      <label for="recipe_name">Recipe Name</label>
      <input
        type="text"
        class="form-control"
        id="recipe_name"
        placeholder="Name your recipe."
      />
    </div>
    <div class="form-group">
      <label for="meal_category">Meal Time</label>
      <select class="form-control" id="meal_category">
        <option>Breakfast</option>
        <option>Lunch</option>
        <option>Dinner</option>
        <option>Dessert</option>
      </select>
    </div>
    <div class="form-group">
      <label for="meal_type">Meal Category</label>
      <select class="form-control" id="meal_type">
        <option>Meat</option>
        <option>Fish</option>
        <option>Vegetarian</option>
        <option>Vegan</option>
      </select>
    </div>
    <div class="form-group">
      <label for="recipe_description">Recipe Description</label>
      <textarea
        class="form-control"
        id="recipe_description"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      Recipe Image
    </div>
    <div class="form-group">
      <label for="recipe_image">Add Recipe Image</label>
      <input type="file" class="form-control-file" id="recipe_image" />
    </div>
    <!--Add radio btn with option to upload link to image-->
    <h3>Add Ingredient</h3>

    <!-- Dropdown Trigger -->

    <div class="dropdown-trigger form-group">
      <a class="dropdown-trigger btn" href="#" data-target="myDropdown"
        >Drop Me!</a
      >
      <button onclick="myFunction()" data-target="myDropdown" class="">
        Dropdown
      </button>
      <div id="myDropdown" class="dropdown-content">
        <!-- <input
          type="text"
          placeholder="Search.."
          id="myInput"
          onkeyup="filterFunction()"
        /> -->
        <ul>
          <li>1 ingredient</li>
          <li>2 ingredient</li>
          <li>3 ingredient</li>
        </ul>
      </div>
    </div>
    <ul class="list-group form-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Sample Ingredient "ingredient_name" "measurement"
        <button class="badge badge-primary badge-pill">Remove</button>
      </li>
    </ul>
    <div class="form-group">
      <label for="recipe_description">Recipe Instructions</label>
      <textarea
        class="form-control"
        id="recipe_description"
        rows="3"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Recipe</button>
  </form>
</main>
{% for user in users %}
<p>{{user}}</p>
{% endfor %} {% endblock %}
