<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <title>Chickpeas</title>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="{{url_for('home')}}" class="brand-logo ml-4">Chickpeas</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down ml-8">
          <li><a href="{{url_for('dashboard')}}">User Cookbook</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{url_for('recipes')}}">Browse Recipes</a></li>
          <li><a href="{{url_for('ingredients')}}">Search Substitutes</a></li>
          <li><a href="{{url_for('login')}}">Login</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav right" id="mobile-demo">
      <li><a href="{{url_for('dashboard')}}">User Cookbook</a></li>
      <li><a href="{{url_for('recipes')}}">Browse Recipes</a></li>
      <li><a href="{{url_for('ingredients')}}">Search Substitutes</a></li>
      <li><a href="{{url_for('login')}}">Login</a></li>
    </ul>
    {% block content %} {% endblock %}
    <!--Bootstrap-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script
      src="https://kit.fontawesome.com/e0af4595f7.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
