{% extends 'base.html'%}{% block css %} {% endblock %} {% block content %}
<header class="container mt-5 pt-5">
  <h1 class="text-center pt-4">{{session.username}}'s Cookbook</h1>
  <p class="text-center">Welcome {{session.username}}, what's cooking?</p>
  <div class="text-center">
    <a
      href="{{url_for('add_recipe')}}"
      class="btn btn-default btn-rounded mb-4"
      data-remote="false"
      data-toggle="ajaxModal2"
      >Create a Recipe</a           
    >
  </div>
</header>
<main>
  <h3 class="text-center">My Recipes</h3>
  <div class="container-fluid">
    <div class="row">
      <button class="btn mr-1 ml-2" onclick="listView()">
        <i class="fa fa-bars"></i>
      </button>
      <button class="btn" onclick="gridView()">
        <i class="fa fa-th-large"></i>
      </button>
    </div>
    {% for cat in my_recipes %} {% if loop.index % 2 != 0 %}
    <div class="row">
      {% endif %}
      <div class="row column featurette no-gutters shadow">
        <div class="col-md-5">
          {% if cat.recipe_pic_url %}
          <a href="{{url_for('view_recipe', recipe_id=cat._id)}}">
            <img
              class="featurette-image img-responsive"
              src="{{ cat.recipe_pic_url }}"
              alt="Picture of {{ cat.recipe_name }}"
            />
          </a>
          {% else %}
          <a href="{{url_for('view_recipe', recipe_id=cat._id)}}">
            <img
              class="featurette-image img-responsive"
              src="https://res.cloudinary.com/chickpeas/image/upload/v1591259691/chickpeas/variety-of-fruits_shgeju.jpg"
              alt="Default Pic"
            />
          </a>
          {% endif %}
        </div>
        <div class="col-md-7 pl-2">
           <div class="row pl-2">
            <a
              href="{{url_for('edit_recipe', recipe_id=cat._id)}}"
              data-remote="false"
              data-toggle="ajaxModal"
              class="btn edit-recipe"
              >Update</a
            >
            <a
              onclick="return confirmDelete()"
              href="{{url_for('delete_recipe', recipe_id=cat._id)}}"
              class="btn edit-recipe"
              >Delete</a
            >       
          <h3 class="col-md-10">
            <a href="{{url_for('view_recipe', recipe_id=cat._id)}}">
              {{ cat.recipe_name }}</a
            >
          </h3>
          <p class="pl-2 col-md-9 pb-2 d-none d-md-block">
            <strong>{{ cat.recipe_description }}</strong>
          </p>

          </div>
        </div>
      </div>
      {% if loop.index % 2 == 0 or loop.index == loop.length %}
    </div>
    {% endif %} {% endfor %}
  </div>

</main>
<!-- <div class="fixed-action-btn">
  <a class="btn-floating btn-large red" href="#"> ^</a>
</div> -->

{% endblock %}{% block js %}
<script>
  $(document).ready(function () {
    $(".add-recipe").modal();
  });
  function confirmDelete() {
    if (confirm("Do you want to delete this recipe?") == false) {
      return false;
    } else {
      return true;
    }
  }

  // Get the elements with class="column"
  var elements = document.getElementsByClassName("column");

  // Declare a loop variable
  var i;

  // List View
  function listView() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.width = "100%";
    }
  }

  // Grid View
  function gridView() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.width = "50%";
    }
  }

  var selectedIngredient;
  $("select.ingredient_select").change(function () {
    selectedIngredient = $(this).children("option:selected").val();
  });
  function addToIngredientList() {
    if (!!selectedIngredient) {
      var ingredient_measurement = $("#ingredient_measurement").val();
      var commentlines = "";
      var ingredient_comment = $("#ingredient_comment").val();
      if (!!ingredient_comment) {
        commentlines = "---";
      } else {
        commentlines = "";
      }
      $("#recipe_ingredient_list").append(
        `<li type="text" readonly class="list-group-item"><input type="text" class="form-control" readonly name="recipe_ingredient_id_${ingredient_index}" value="${ingredient_measurement} ${selectedIngredient} ${commentlines} ${ingredient_comment}"><button type="button" onclick="removeLI()" class="btn float-right delete">Remove Ingredient</button></li>`
      );
      ingredient_index++;
      clearAddIngredient();
    }
  }
  function clearAddIngredient() {
    $("#ingredient_select").prop("selectedIndex", 1).val();
    $("select.ingredient_select").val("selectedvalue").trigger("change");
    $("#ingredient_comment").val("");
    $("#ingredient_measurement").val("");
  }
  function removeLI() {
    $(".delete").on("click", function () {
      $(this).parent().remove();
    });
  }

  $('[data-toggle="ajaxModal"]').on("click", function (e) {
    $("#ajaxModal").remove();
    e.preventDefault();
    var $this = $(this),
      $remote = $this.data("remote") || $this.attr("href"),
      $modal = $(
        '<div class="modal" id="ajaxModal"><div class="modal-body"></div></div>'
      );
    $("body").append($modal);
    $modal.modal({ backdrop: "static", keyboard: false });
    $modal.load($remote);
  });

  $('[data-toggle="ajaxModal2"]').on("click", function (e) {
    $("#ajaxModal2").remove();
    e.preventDefault();
    var $this = $(this),
      $remote = $this.data("remote") || $this.attr("href"),
      $modal = $(
        '<div class="modal" id="ajaxModal2"><div class="modal-body"></div></div>'
      );
    $("body").append($modal);
    $modal.modal({ backdrop: "static", keyboard: false });
    $modal.load($remote);
  });
</script>
{% endblock %}
