<!-- Ajax Modal for the form for editing a recipe. Called from the dashboard or from a 
logged in user on the recipes page or view recipe page. -->
<div class="modal-dialog modal-fluid" role="document">
  <main class="container modal-content addRecipe">
	<!-- If createad by user, value="recipe.recipe_name"-->
	<div class="modal-header text-center">
			
		<h1 class="modal-title w-100 font-weight-bold ">
        {% if recipe.added_by == session.username or recipe.edited_by == session.username %}
            <i class="fas fa-pencil-alt" role="img"></i> Update Recipe
        {% else %}
            <i class="far fa-copy" role="img"></i> Edit Your Copy
        {% endif %}
        </h1>
		<button
            type="button"
            class="close custom-close"        
            aria-label="Close"           
        >
            <span aria-hidden="true">&times;</span>
        </button>
	</div>

	<form id="updateForm" class="modal-body mx-3"
    {% if recipe.added_by == session.username or recipe.edited_by == session.username %}     
        action="{{ url_for('update_recipe', recipe_id=recipe._id) }}"
    {% else %}
        action="{{ url_for('insert_recipe', recipe_id=recipe._id) }}"
    {% endif %}            
		method="POST"
    >	                                				
	<!-- If created by user, value="recipe.recipe_name"-->
		<div class="md-form mb-5">
			<input
            type="text"
            class="form-control validate"
            id="recipe_name"
            name="recipe_name"
            {% if recipe.added_by == session.username or recipe.edited_by == session.username %}
            value="{{recipe.recipe_name}}"
		    {% endif %}
            required
            />
			<!-- If added or edited by user, same name.-->
			{% if recipe.added_by == session.username or recipe.edited_by == session.username %}
			<label class="active" data-error="wrong" data-success="right" for="recipe_name">Recipe Name</label>
			{% else %}
			<!-- If not added or edited by user , New name-->
			<label class="active" data-error="wrong" data-success="right" for="recipe_name">
                New Name for {{recipe.recipe_name}}
            </label>
			{% endif %}
		</div>
		<div class="md-form">
			<select
                id="meal_type"
                name="meal_type"
                class="browser-default custom-select custom-select-lg mb-3"
            >
              <option {% if recipe.meal_type == 'Breakfast' %} selected="true" {% endif %} >Breakfast</option>
              <option {% if recipe.meal_type == 'Lunch' %} selected="true" {% endif %} >Lunch</option>
              <option {% if recipe.meal_type == 'Dinner' %} selected="true" {% endif %} >Dinner</option>
              <option {% if recipe.meal_type == 'Dessert' %} selected="true" {% endif %} >Dessert</option>
            </select>
		</div>
		<div class="md-form">
			<textarea
              class="md-textarea form-control"
              id="recipe_description"
              rows="3"
              name="recipe_description"
              maxlength="200"
              required
            >{{recipe.recipe_description}}</textarea>
			<label class="active" for="recipe_description">Recipe Description</label>
		</div>
		<h3>Recipe Image</h3>
		<div class="md-form">
			<input type="file" class="form-control-file" id="recipe_pic_url" disabled/>
        </div>
		<div class="md-form">
			<input
              type="text"
              class="form-control"
              id="recipe_image_link"
              name="recipe_pic_url"
              value="{{recipe.recipe_pic_url}}"
            />
        </div>
		<h3>Add Ingredients</h3>
        <div class="md-form dropdown">
          <div id="editRecipeDropdown" class="dropdown-content" style="display: block;">
            <input
              type="text"
              class="form-control"
              placeholder="...Write the ingredient name here(or part of it) to filter your selection in the list below..."
              id="editRecipeDropdownInput"
              onkeyup="filterForEditRecipeIngredients()"
            />
            <select
              class="ingredient_select browser-default custom-select custom-select-lg"
              id="ingredient_select"
            >
              <option selected="true" disabled="disabled"
                >Choose Ingredient</option
              >
              {% for ingredient in ingredients %}
              <option>{{ingredient.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="text-right">
            <a
            href="#"
            data-toggle="tooltip"
            title="Finish and save your recipe, then add the missing ingredient to
                        the database from the ingredients page, don't forget to update your 
                        recipe with the missing ingredient."
            >Can't find your ingredient?</a>                      
          </div>
        </div>
		<div class="md-form">
			<input type="text" class="form-control validate" id="ingredient_measurement" />
				<label for="ingredient_measurement"
                >Measurement(ex. 200g, 1/2cup, 2dl)</label>
		</div>
		<div class="md-form">
			<input type="text" class="form-control validate" id="ingredient_comment" />
				<label for="ingredient_comment">Comment(ex. Use fresh.)</label>
		</div>
		<div class="md-form">
			<button type="button" class="btn" onclick="addToIngredientList()">
                <i class="fas fa-plus-circle"></i>Add Selected Ingredient
            </button>
		</div>
		<script>
			var ingredient_index = 0 ;
		</script>
		<div class="md-form">
			<ul class="list-group" id="recipe_ingredient_list">
				{% for ingID, ingredient in ingredients_selected.items() %}
				{% if ingredient_search(ingID) in ingID %}{% set recname = ("name_"+ingID) %}
				<li type="text" readonly class="list-group-item {{ingID}}"></li>				
		    <script>                                   
            $(document).ready(function () {
                ingredient_index++;
                $('.{{ingID}}').append(`<input type="text" class="form-control" readonly name='recipe_ingredient_id_${ingredient_index}' value="{{ingredient}}"><button type="button" onclick="removeLI()" class="btn float-right delete">Remove Ingredient</button><input type="text" hidden name="name_recipe_ingredient_id_${ingredient_index}" value="{{recipe[recname]}}">`)
				});
			</script>
				{% endif %}{% endfor %}
			</ul>
		</div>
        <h3>Recipe Instructions</h3>
		<div class="md-form">
			<textarea
              class="md-textarea form-control"
              id="recipe_instructions"
              name="recipe_instructions"              
              required
            >{{recipe.recipe_instructions}}</textarea>
			<label class="active" for="recipe_instructions">Recipe Instructions</label>
		</div>
		<!-- Privacy Switch -->
		<div class="custom-control custom-switch">
			<input
              type="checkbox"
              class="custom-control-input"
              id="customSwitches"
              name="public"
            />
			<label class="custom-control-label" for="customSwitches"
              ><strong>Toggle this switch to make your recipe visable to the Public </strong>
              <i class="fas fa-users" role="img"></i>
            </label>
		</div>
		<div class="row">
			<div class="input-field" hidden>
				<input type="text" readonly id="edited_by" name="edited_by" value="{{session.username}}" />								
			</div>
		</div>                        
	</form>
	<div class="modal-footer md-form d-flex justify-content-center">
		<button type="submit" form="updateForm" class="btn btn-indigo">
            <!-- If creator, Update recipe-->
            {% if recipe.added_by == session.username or recipe.edited_by == session.username %}
            Update Recipe
            {% else %}
            Create Copy of Recipe
            {% endif %}
        </button>
	</div>
  </main>
</div>
<script>
	var selectedIngredient;
  $("select.ingredient_select").change(function () {
    selectedIngredient = $(this).children("option:selected").val();
  });
  function addToIngredientList() {
    if (!!selectedIngredient) {
      var ingredient_measurement = $("#ingredient_measurement").val();
      var commentlines = "";
      var ingredient_comment = $("#ingredient_comment").val();

      if (!!ingredient_comment) {
        commentlines = "---";
      } else {
        commentlines = "";
      }
       ingredient_index++;     
      $("#recipe_ingredient_list").append(
        `<li type="text" readonly class="list-group-item"><input type="text" class="form-control" readonly name="recipe_ingredient_id_${ingredient_index}" value="${ingredient_measurement} ${selectedIngredient} ${commentlines} ${ingredient_comment}"><button type="button" onclick="removeLI()" class="btn float-right delete">Remove Ingredient</button><input type="text" hidden name="name_recipe_ingredient_id_${ingredient_index}" value="${selectedIngredient}"></li>`
      );
      clearAddIngredient();
    }
  }
    function clearAddIngredient() {
    $("#ingredient_select").prop("selectedIndex", 1).val();
    $("select.ingredient_select").val("selectedvalue").trigger("change");
    $("#ingredient_comment").val("");
    $("#ingredient_measurement").val("");
  }
  function removeLI() {
    $(".delete").on("click", function () {
      $(this).parent().remove();
    });
  }

    $(".custom-close").on('click', function() {
        
         $('.modal-backdrop').remove();
         $('#ajaxModal').remove();     
    });
    
      function filterForEditRecipeIngredients() {
    var input, filter, ul, li, a, i, option;
    input = document.getElementById("editRecipeDropdownInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("editRecipeDropdown");
    a = div.getElementsByTagName("option");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>