<!-- Ajax Modal for the form for editing a recipe. Called from the dashboard. Also called 
from a logged in user on the recipes page or view recipe page. -->
<div class="modal-dialog modal-fluid" role="document">
  <main class="container modal-content addRecipe">
	<div class="modal-header text-center">			
		<h1 class="modal-title w-100 font-weight-bold ">
        {# Edit/Replace original if added or edited by(copied by) the user #}
        {% if recipe.added_by == session.username or recipe.edited_by == session.username %}
            <i class="fas fa-pencil-alt" role="img"></i> Edit Recipe
        {# Make an editable copy. #}
        {% else %}
            <i class="far fa-copy" role="img"></i> Edit Your Copy
        {% endif %}
        </h1>
		<button
            type="button"
            class="close custom-close"        
            aria-label="Close"           
        >
            <span aria-hidden="true">&times;</span>
        </button>
	</div>
    <!-- Update form. -->
	<form id="updateForm" class="modal-body mx-3"
      {# update_recipe route requested if added or edited by(copied by) the user #}
      {% if recipe.added_by == session.username or recipe.edited_by == session.username %}     
        action="{{ url_for('update_recipe', recipe_id=recipe._id) }}"
      {# insert_recipe route requested otherwise #}
      {% else %}
        action="{{ url_for('insert_recipe', recipe_id=recipe._id) }}"
      {% endif %}            
		method="POST"
    >	                                				
		<div class="md-form mb-5">
            <!-- Recipe name input. -->
			<input
            type="text"
            class="form-control validate"
            id="recipe_name"
            name="recipe_name"
            {# If created by user, value="recipe.recipe_name" #}
            {% if recipe.added_by == session.username or recipe.edited_by == session.username %}
            value="{{recipe.recipe_name}}"
		    {% endif %}
            required
            />
			<!-- If added or edited by user, same name.-->
			{% if recipe.added_by == session.username or recipe.edited_by == session.username %}
			<label class="active" data-error="wrong" data-success="right" for="recipe_name">Recipe Name</label>
			{% else %}
			<!-- If not added or edited by user , New name-->
			<label class="active" data-error="wrong" data-success="right" for="recipe_name">
                New Name for {{recipe.recipe_name}}
            </label>
			{% endif %}
		</div>
		<div class="md-form">
            <!-- Meal Type input -->
			<select
                id="meal_type"
                name="meal_type"
                class="browser-default custom-select custom-select-lg mb-3"
            >
              <option {% if recipe.meal_type == 'Breakfast' %} selected="true" {% endif %} >Breakfast</option>
              <option {% if recipe.meal_type == 'Lunch' %} selected="true" {% endif %} >Lunch</option>
              <option {% if recipe.meal_type == 'Dinner' %} selected="true" {% endif %} >Dinner</option>
              <option {% if recipe.meal_type == 'Dessert' %} selected="true" {% endif %} >Dessert</option>
            </select>
		</div>
		<div class="md-form">
            <!-- Recipe description input -->
			<textarea
              class="md-textarea form-control"
              id="recipe_description"
              rows="3"
              name="recipe_description"
              maxlength="200"
              required
            >{{recipe.recipe_description}}</textarea>
			<label class="active" for="recipe_description">Recipe Description</label>
		</div>
        <div class="text-right">
          <small>Max 200 Characters</small>          
        </div>        
		<h3>Recipe Image URL</h3>
		<div class="md-form">
            <!-- Recipe image URL input -->
			<input
              type="text"
              class="form-control"
              id="recipe_image_link"
              name="recipe_pic_url"
              value="{{recipe.recipe_pic_url}}"
            />
        </div>
		<h3>Ingredients</h3>
        <!-- Ingredient content collapse button and content -->
        <div>
          <button class="btn btn-primary" 
            type="button" 
            data-toggle="collapse" 
            data-target="#collapseIngredients"
            aria-expanded="false" 
            aria-controls="collapseIngredients">
            <i class="fas fa-plus-circle"></i> Add Ingredients
          </button>
        </div>
       <div class="collapse" id="collapseIngredients">
        <div class="md-form dropdown">
          <strong>Ingredient Filter</strong>
          <!-- Opened by default dropdown menu. Dropdown used in order to 
          filter ingredients in the select menu  -->
          <div id="editRecipeDropdown" class="dropdown-content" style="display: block;">
            <!-- Filter for select menu -->           
            <input
              type="text"
              class="form-control"
              placeholder="...Write the ingredient name here(or part of it) to filter your selection in the list below..."
              id="editRecipeDropdownInput"
              onkeyup="filterForEditRecipeIngredients()"
            />
            <!-- Ingredient selection -->
            <select
              class="ingredient_select browser-default custom-select custom-select-lg"
              id="ingredient_select"
            >
              <option selected="true" disabled="disabled"
                >Choose Ingredient</option
              >
              {% for ingredient in ingredients %}
              <option>{{ingredient.name}}</option>
              {% endfor %}
            </select>
          </div>
          <!-- Tooltip for how to add ingredients to the database -->
          <div class="text-right">
            <a
            href="#"
            data-toggle="tooltip"
            title="Finish and save your recipe, then add the missing ingredient to
                        the database from the ingredients page. Don't forget to update your 
                        recipe with the missing ingredient."
            >Can't find your ingredient?</a>                      
          </div>
        </div>      
		<div class="md-form">
            <!-- Ingredient measurement input -->
			<input type="text" class="form-control validate" id="ingredient_measurement" />
				<label for="ingredient_measurement"
                >Measurement(ex. 200g, 1/2cup, 2dl)</label>
		</div>
		<div class="md-form">
            <!-- Ingredient comment input -->
			<input type="text" class="form-control validate" id="ingredient_comment" />
				<label for="ingredient_comment">Comment(ex. Use fresh.)</label>
		</div>
		<div class="md-form">
            <!-- Add  ingredient to recipe button --> 
			<button type="button" class="btn" onclick="addToIngredientList()">
                Add Ingredient to Recipe
            </button>
		</div>
       </div>
        <!--Script to reset the ingredient_index.
        Maybe possible to move script to a function with other scripts
        and call it at this point.------------------------------------->
		<script>
			var ingredient_index = 0 ;
		</script>
		<div class="md-form">
			<ul class="list-group" id="recipe_ingredient_list">
             {# Loop for key, value pairs in an ingredient object #}
			 {% for key, ingredient in ingredients_selected.items() %}
             {# 'If' logic to check that the key is an ingredient. Then sets a 
             variable 'recname' with the ingredient name to seperate the name of the ingredient
             from the measurement and optional comments added later. #}
			 {% if ingredient_search(key) in key %}{% set recname = ("name_"+key) %}
			 <li type="text" readonly class="list-group-item {{key}}"></li>
             <!--Script here to utilize the jinja variables in the loop. Creates a readonly
             form input. The input sent with the form is given a unique ID and the value is the
             ingredient and measurement with an optional comment. A hidden readonly input is added 
             to send just the name of the ingredient with the form. A remove ingredient buttton is
             added in order to remove an ingredient from the list. -->				
		     <script>                                   
             $(document).ready(function () {
                ingredient_index++;
                $('.{{key}}').append(`<input type="text" class="form-control" readonly name='recipe_ingredient_id_${ingredient_index}' value="{{ingredient}}"><button type="button" class="btn float-right delete">Remove Ingredient</button><input type="text" hidden name="name_recipe_ingredient_id_${ingredient_index}" value="{{recipe[recname]}}">`)
				});
			 </script>
			 {% endif %}{% endfor %}
			</ul>
		</div>
        <h3>Recipe Instructions</h3>
		<div class="md-form">
            <!-- Recipe instructions input -->
			<textarea
              class="md-textarea form-control"
              id="recipe_instructions"
              name="recipe_instructions"              
              required
            >{{recipe.recipe_instructions}}</textarea>
			<label class="active" for="recipe_instructions">Recipe Instructions</label>
		</div>
		<!-- Privacy Switch -->
		<div class="custom-control custom-switch">
			<input
              type="checkbox"
              class="custom-control-input"
              id="customSwitches"
              name="public"
              {% if recipe.added_by == session.username or recipe.edited_by == session.username %}
              {% if recipe.public == "on" %}
              checked
              {% endif %}        
              {% endif %}
            />
			<label class="custom-control-label" for="customSwitches"
              ><strong>Toggle this switch to make your recipe visable to the Public </strong>
              <i class="fas fa-users" role="img"></i>
            </label>
		</div>
        <!-- Hidden div to add 'edited' info to recipe designating a non-original recipe. -->
		<div class="input-field" hidden>
			<input type="text" readonly id="edited_by" name="edited_by" value="{{session.username}}" />								
		</div>                      
	</form>
	<div class="modal-footer md-form d-flex justify-content-center">
		<button type="submit" form="updateForm" class="btn btn-indigo">
         <!-- If creator, Update recipe. Else, Create a copy. Button-->
         {% if recipe.added_by == session.username or recipe.edited_by == session.username %}
         Update Recipe
         {% else %}
         Create Copy of Recipe
         {% endif %}
        </button>
	</div>
  </main>
</div>
<script src="{{url_for('static', filename='js/edit_recipe.js')}}"></script>