{% extends 'base.html'%} {% block content %}
<main onload="myFunction()" class="container ingredients-container mt-5 pt-5">
  <h1>Ingredients</h1>
  <div class="row">
    <div class="col-6">
      <label for="ingredient_select">Select an Ingredient</label>
      <select class="" id="ingredient_select" onchange="location = this.value;">
        {% for ing_name in ingredientstest %}
        <option value="{{url_for('view_ingredient', ingredient_id = ing_name.id)}}">{{ing_name.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="progress" id="loader">
      <div class="indeterminate"  ></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      Common Substitutes
    </div>  
  </div>
    {% if ingredient %}                
  <div>
    <h2>{{ingredient.name}}</h2>
  </div>
    <div>
    <p>{{ingredient.food_group}}</p>
  </div>
    <div>
    <p>{{ingredient.description}}</p>
  </div>
    <div>
    <p><a href="https://en.wikipedia.org/wiki/{{ingredient.wikipedia_id}}" target="_blank">Wikipedia Article</a></p>
  </div>
    {% endif %}
</main>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  $('#loader').hide()
}

document.body.onload = function(){
setTimeout(function(){
document.querySelector('.progress').classList.add('hidden');    
},3000);    
}
</script>
{% endblock %}
