{% extends 'base.html'%} {% block content %}
<main class="container ingredients-container">
  <h1>Ingredients</h1>
  <div class="row">
    <div class="col-6">
      <label for="ingredient_select">Select an Ingredient</label>
      <select class="" id="ingredient_select">
        {% for ing_name in ingredientstest %}
        <option>{{ing_name.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      Common Substitutes
    </div>
  </div>

  <!-- <a
    href="https://en.wikipedia.org/wiki/ing_name.wikipedia_id"
    target="_blank"
    >ing_name.name</a
  > -->
</main>
{% endblock %}
