{% extends 'base.html'%} {% block content %}
<!-- Welcome info -->
<div class="mt-3 pt-4"></div>
<div class="mt-5 pt-1 mb-4 pb-1 text-center container">
   <div>
      <h1 class="text-center">Welcome to Chickpeas</h1>
      <h3 class="text-center">- Recipes and creative cooking substitutes!</h3>
   </div>
   <!-- Slideshow container -->
   <!--Carousel Wrapper-->
   <div
      id="carousel-example-2"
      class="carousel slide carousel-fade"
      data-ride="carousel"
      >
      <!--Indicators-->
      <ol class="carousel-indicators">
         <li
            data-target="#carousel-example-2"
            data-slide-to="0"
            class="active"
            ></li>
         <li data-target="#carousel-example-2" data-slide-to="1"></li>
         <li data-target="#carousel-example-2" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
         <div class="carousel-item active">
            <div class="view">
               <img
                  class="d-block w-100"
                  src="https://res.cloudinary.com/chickpeas/image/upload/c_scale,h_1080,w_1920/v1591259686/chickpeas/spinach_vrly96.jpg"
                  alt="First slide"
                  />
               <div class="mask rgba-black-slight"></div>
            </div>
         </div>
         <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
               <img
                  class="d-block w-100"
                  src="https://res.cloudinary.com/chickpeas/image/upload/c_scale,h_1080,w_1920/v1591259691/chickpeas/bananas_js7553.jpg"
                  alt="Second slide"
                  />
               <div class="mask rgba-black-slight"></div>
            </div>
         </div>
         <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
               <img
                  class="d-block w-100"
                  src="http://res.cloudinary.com/chickpeas/image/upload/c_scale,h_1080,w_1920/v1591259693/chickpeas/variety-of-vegetables_vct2wh.jpg"
                  alt="Third slide"
                  />
               <div class="mask rgba-black-slight"></div>
            </div>
         </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a
         class="carousel-control-prev"
         href="#carousel-example-2"
         role="button"
         data-slide="prev"
         >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a
         class="carousel-control-next"
         href="#carousel-example-2"
         role="button"
         data-slide="next"
         >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
   </div>
   <!--/.Carousel Wrapper-->
   <article class="container mt-2 mb-5">
      <h4>About the Site</h4>
      <p><strong>Chickpeas is not just an ordinary cookbook! It is a cookbook designed
         with ingredients in mind. You can learn about ingredients you have possibly
         never heard of or even learn if there is a substitute for a paticular 
         ingredient.</strong>
      </p>
      <p><strong>Have a food allergy? Click on that ingredient in the recipe to see if there is a
         substitute.</strong>
      </p>
      <p><strong>Cooking for a specific diet? See what you can replace ingredients with
         by clicking on that ingredient.</strong>
      </p>
      <p><strong>You can even create your own cookbook by creating recipes or copying 
         recipes others have shared.</strong>
      </p>
   </article>
</div>
{% endblock %}