{% extends 'base.html'%} {% block content %}
<!-- Welcome info -->
<div>
<h1 class="text-center">Welcome to Chickpeas</h1>
<h3 class="text-center">- and other creative cooking substitutes!</h3>  
</div>
<!-- Slideshow container -->
<div class="slideshow-container text-center">
  <!-- Full-width images with number and caption text (Future, nav through all public recipe images) -->
  <div class="mySlides">
    <img
      src="https://res.cloudinary.com/chickpeas/image/upload/v1591259520/chickpeas/burrito_knzpkg.jpg"
      style="width: 80%;"
    />
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides">
    <img
      src="https://res.cloudinary.com/chickpeas/image/upload/v1591259691/chickpeas/variety-of-fruits_shgeju.jpg"
      style="width: 80%;"
    />
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides">
    <img
      src="https://res.cloudinary.com/chickpeas/image/upload/v1591259691/chickpeas/bananas_js7553.jpg"
      style="width: 80%;"
    />
    <div class="text">Caption Three</div>
  </div>
</div>
<br />

<!-- The dots/circles -->
<div style="text-align: center;">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

{% endblock %} {% block js %}

<script src="{{url_for('static', filename='js/landing_page.js')}}"></script>

{% endblock %}
