{% extends "base.html" %} {% block content %}
<main class="container">
  <h1>Login</h1>
  <form action="/login" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" id="username" name="username" required />
        <label for="user_name">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="password" id="user_password" name="user_password" required />
        <label for="user_password">Password</label>
      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <button type="submit" class="btn btn-primary">
        Login
      </button>
    </div>
  </form>
</main>
<div class="container become-member-container">
  <h4>Not a Member?</h4>
  <a class="btn btn-primary" href="{{url_for('register')}}" role="button">
    Register</a
  >
</div>
{% endblock %}
