{% extends 'base.html'%} {% block content %}

<button
  class="tablink"
  onclick="openCity('breakfast', this, 'red')"
  id="defaultOpen"
>
  Breakfast
</button>
<button class="tablink" onclick="openCity('Paris', this, 'green')"
>
  Lunch
</button>
<button class="tablink" onclick="openCity('Tokyo', this, 'blue')">
  Dinner
</button>
<button class="tablink" onclick="openCity('Oslo', this, 'orange')">
  Dessert
</button>
<div id="breakfast" class="tabcontent container-fluid">
  <h1>Breakfast</h1>
  {% for cat in recipes %} {% if cat.meal_type == "Breakfast" %} {%
  if loop.index % 2 != 0 %}
  <div class="row featurette">
    <div class="col-md-7">
      <h3>
        <a href="#">{{ loop.index }}. {{ cat.recipe_name }}</a>
      </h3>
      <p>{{ cat.cooking_instructions }}</p>
      <a href="{{url_for('edit_recipe', recipe_id=cat._id)}}" class="btn">Edit</a>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-responsive"
        src="{{ cat.recipe_pic_url }}"
        alt="Picture of {{ cat.recipe_name }}"
      />
    </div>
  </div>
  {% else %}
  <div class="row featurette">
    <div class="col-md-5">
      <img
        class="featurette-image img-responsive"
        src="{{ cat.recipe_pic_url }}"
        alt="Picture of {{ cat.recipe_name }}"
      />
    </div>
    <div class="col-md-7">
      <h3>
        <a href="#">{{ loop.index }}. {{ cat.recipe_name }}</a>
      </h3>
      <p>{{ cat.cooking_instructions }}</p>
    </div>
    <a href="{{url_for('edit_recipe', recipe_id=cat._id)}}" class="btn">Edit</a>
  </div>
  {% endif %} {% if loop.index != 13 %}
  <hr class="featurette-divider" />
  {% endif %} {% endif %} {% endfor %}
</div>

<div id="Paris" class="tabcontent">
  <h1>Lunch</h1>
  {% for cat in recipes2 %} {% if cat.meal_type == "Lunch" %} {% if loop.index %
  2 != 0 %}
  <div class="row featurette">
    <div class="col-md-7">
      <h3>
        <a href="#">{{ loop.index }}. {{ cat.recipe_name }}</a>
      </h3>
      <p>{{ cat.cooking_instructions }}</p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-responsive"
        src="{{ cat.recipe_pic_url }}"
        alt="Picture of {{ cat.recipe_name }}"
      />
    </div>
  </div>
  {% else %}
  <div class="row featurette">
    <div class="col-md-5">
      <img
        class="featurette-image img-responsive"
        src="{{ cat.recipe_pic_url }}"
        alt="Picture of {{ cat.recipe_name }}"
      />
    </div>
    <div class="col-md-7">
      <h3>
        <a href="#">{{ loop.index }}. {{ cat.recipe_name }}</a>
      </h3>
      <p>{{ cat.cooking_instructions }}</p>
    </div>
  </div>
  {% endif %} {% if loop.index != 13 %}
  <hr class="featurette-divider" />
  {% endif %} {% endif %} {% endfor %}
</div>

<div id="Tokyo" class="tabcontent">
  <h1>Dinner</h1>
  {% for cat in recipes3 %} {% if cat.meal_type == "Dinner" %} {% if loop.index %
  2 != 0 %}
  <div class="row featurette">
    <div class="col-md-7">
      <h3>
        <a href="#">{{ loop.index }}. {{ cat.recipe_name }}</a>
      </h3>
      <p>{{ cat.cooking_instructions }}</p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-responsive"
        src="{{ cat.recipe_pic_url }}"
        alt="Picture of {{ cat.recipe_name }}"
      />
    </div>
  </div>
  {% else %}
  <div class="row featurette">
    <div class="col-md-5">
      <img
        class="featurette-image img-responsive"
        src="{{ cat.recipe_pic_url }}"
        alt="Picture of {{ cat.recipe_name }}"
      />
    </div>
    <div class="col-md-7">
      <h3>
        <a href="#">{{ loop.index }}. {{ cat.recipe_name }}</a>
      </h3>
      <p>{{ cat.cooking_instructions }}</p>
    </div>
  </div>
  {% endif %} {% if loop.index != 13 %}
  <hr class="featurette-divider" />
  {% endif %} {% endif %} {% endfor %}
</div>

<div id="Oslo" class="tabcontent">
  <h1>Dessert</h1>
  {% for cat in recipes4 %} {% if cat.meal_type == "Dessert" %} {% if loop.index
  % 2 != 0 %}
  <div class="row featurette">
    <div class="col-md-7">
      <h3>
        <a href="#">{{ loop.index }}. {{ cat.recipe_name }}</a>
      </h3>
      <p>{{ cat.cooking_instructions }}</p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-responsive"
        src="{{ cat.recipe_pic_url }}"
        alt="Picture of {{ cat.recipe_name }}"
      />
    </div>
  </div>
  {% else %}
  <div class="row featurette">
    <div class="col-md-5">
      <img
        class="featurette-image img-responsive"
        src="{{ cat.recipe_pic_url }}"
        alt="Picture of {{ cat.recipe_name }}"
      />
    </div>
    <div class="col-md-7">
      <h3>
        <a href="#">{{ loop.index }}. {{ cat.recipe_name }}</a>
      </h3>
      <p>{{ cat.cooking_instructions }}</p>
    </div>
  </div>
  {% endif %} {% if loop.index != 13 %}
  <hr class="featurette-divider" />
  {% endif %} {% endif %} {% endfor %}
</div>

{% endblock %}
