{% extends 'base.html'%}
{% block content %}

<button class="tablink" onclick="openCity('London', this, 'red')" id="defaultOpen">Breakfast</button>
<button class="tablink" onclick="openCity('Paris', this, 'green')">Lunch</button>
<button class="tablink" onclick="openCity('Tokyo', this, 'blue')">Dinner</button>
<button class="tablink" onclick="openCity('Oslo', this, 'orange')">Dessert</button>
<div id="London" class="tabcontent">
  <h1>London</h1>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h1>Paris</h1>
  <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h1>Tokyo</h1>
  <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Oslo" class="tabcontent">
  <h1>Oslo</h1>
  <p>Oslo is the capital of Norway.</p>
</div>



{% for user in users %}
<p>{{user}}</p>
{% endfor %}
{% endblock %}