{% extends "base.html" %} {% block content %}
<!-- Registration Page -->
<main class="container col-md-6 mt-5 pt-5">
   <form class="text-center p-5" action="{{url_for('register')}}" method="post">
      <p class="h4 mb-4">Registration</p>
      <div>
         <!-- Username Input -->
         <input
            type="text"
            id="username"
            name="username"
            class="form-control mb-4"
            placeholder="Create Username"
            required
            />
      </div>
      <div>
         <!-- Password Input -->
         <input
            type="password"
            id="user_password"
            name="user_password"
            class="form-control mb-4"
            placeholder="Create Password"
            required
            />
      </div>
      <div>
         <!-- Confirm Password Input -->
         <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            oninput="check(this)"
            class="form-control mb-4"
            placeholder="Confirm Password"
            required
            />
      </div>
      <!-- Form Submit Button -->
      <button type="submit" class="btn btn-primary">
      Start Cooking!(Register)
      </button>
   </form>
</main>
{% endblock %} {% block js %}
<script>
   function check(input) {
     if (input.value != document.getElementById("user_password").value) {
       input.setCustomValidity("Password Must be Matching.");
     } else {
       // input is valid -- reset the error message
       input.setCustomValidity("");
     }
   }
</script>
{% endblock %}