{% extends "base.html" %} {% block content %}
<main class="container">
  <h1>Registration</h1>
  <form action="/register" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" id="user_name" name="user_name" required />
        <label for="recipe_name">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" id="user_password" name="user_password" required />
        <label for="recipe_name">User Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input
          type="text"
          id="confirm_password"
          name="confirm_password"
          required
        />
        <label for="recipe_name">Confirm Password</label>
      </div>
    </div>
    <div class="row"></div>
    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>
</main>
{% endblock %}
