<div class="modal-dialog modal-fluid" role="document">
  <div class="container modal-content">
    <div class="modal-header text-center">
      <h1 class="modal-title w-100 font-weight-bold">
        Submit Ingredient to Database
      </h1>
      <button type="button" class="close custom-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form
      id="ingredientForm"
      class="modal-body mx-3"
      action="{{ url_for('insert_ingredient') }}"
      method="POST"
    >
      <div class="md-form mb-5">
        <input
          type="text"
          id="recipe_name"
          name="name"
          class="form-control validate"
          required
        />
        <label data-error="wrong" data-success="right" for="recipe_name"
          >Ingredient Name</label
        >
      </div>
      <div class="md-form">
        <textarea
          id="ingredient_description"
          class="md-textarea form-control"
          name="description"
          required
        ></textarea>
        <label for="ingredient_description">Ingredient Description</label>
      </div>
      <div class="md-form">
        <input
          type="text"
          class="form-control validate"
          id="more_info_link"
          name="more_info_link"
          placeholder="Add a link to more info on the ingredient. Wikipedia typically is a good option."
        />
        <label class="active" for="more_info_link">More Info Link</label>
      </div>
      <h3>Common Substitutes</h3>
      <div class="md-form">
        <div class="dropdown">
          <div id="myDropdown" class="dropdown-content" style="display: block;">
            <input
              type="text"
              class="form-control"
              placeholder="...Write the ingredient name here to filter your selection..."
              id="myInput"
              onkeyup="filterFunction()"
            />
            <select
              class="ingredient_select browser-default custom-select custom-select-lg"
              id="ingredient_select"
            >
              <option selected="true" disabled="disabled"
                >Choose Ingredient</option
              >
              {% for ing_name in ingredients %}
              <option>{{ing_name.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <script>
        var ingredient_index = 1;
      </script>
      <div class="md-form">
        <input
          type="text"
          class="form-control validate"
          id="ingredient_comment"
        />
        <label for="ingredient_comment"
          >Comment(Tips for how to substitute)</label
        >
      </div>
      <div class="md-form">
        <button type="button" class="btn" onclick="addToIngredientList()">
          <i class="fas fa-plus-circle"></i>Add Selected Ingredient
        </button>
      </div>
      <div class="md-form">
        <ul class="list-group" id="recipe_ingredient_list"></ul>
      </div>
      <div>
        <div hidden>
          <input
            type="text"
            readonly
            id="added_by"
            name="added_by"
            value="{{session.username}}"
          />
        </div>
      </div>
    </form>
    <div class="modal-footer md-form d-flex justify-content-center">
      <button type="submit" form="ingredientForm" class="btn btn-indigo">
        Submit Ingredient
      </button>
    </div>
  </div>
</div>
<script>
  $(".custom-close").on("click", function () {
    $(".modal-backdrop").remove();
    $("#ajaxModal3").remove();
  });

    var selectedIngredient;
  $("select.ingredient_select").change(function () {
    selectedIngredient = $(this).children("option:selected").val();
  });
  function addToIngredientList() {
    if (!!selectedIngredient) {
      var commentlines = "";
      var ingredient_comment = $("#ingredient_comment").val();
      if (!!ingredient_comment) {
        commentlines = "---";
      } else {
        commentlines = "";
      }
      $("#recipe_ingredient_list").append(
        `<li type="text" readonly class="list-group-item"><input type="text" class="form-control" readonly name="sub_ingredient_id_${ingredient_index}" value="${selectedIngredient} ${commentlines} ${ingredient_comment}"><button type="button" onclick="removeLI()" class="btn float-right delete">Remove Ingredient</button><input type="text" hidden name="name_sub_ingredient_id_${ingredient_index}" value="${selectedIngredient}"></li>`
      );
      ingredient_index++;
      clearAddIngredient();
    }
  }
  function clearAddIngredient() {
    $("#ingredient_select").prop("selectedIndex", 1).val();
    $("select.ingredient_select").val("selectedvalue").trigger("change");
    $("#ingredient_comment").val("");
  }
  function removeLI() {
    $(".delete").on("click", function () {
      $(this).parent().remove();
    });
  }
</script>
