<!-- Ajax Modal for viewing an ingredient. Called from the view recipe page. -->
<div class="modal-dialog modal-md pt-5 mt-5" role="document">
  <div class="container modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">       
        {{ingredient.name}}
      </h4>
      <button type="button" class="close custom-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <div>
        {% if ingredient.food_group %}
        <p>Food Group: {{ingredient.food_group}}</p>
        {% else %}
        <p>User Submitted Ingredient</p>
        {% endif %}
      </div>
      <h4>Description</h4>
      <div>       
        <p>{{ingredient.description}}</p>
      </div>
      {# Check if there is a value in the ingredient wiki id variable #}
      {% if ingredient.wikipedia_id %}
      <div>
        <p>
          <a
            href="https://en.wikipedia.org/wiki/{{ingredient.wikipedia_id}}"
            target="_blank"
            >Wikipedia Article</a
          >
        </p>       
      </div>
      {% endif %}
      {# Check if there is a value in the ingredient more info variable #}
      {% if ingredient.more_info_link %}
	  <div>
		<p>
			<a href="{{ingredient.more_info_link}}" 
               target="_blank"
               onError="this.onerror=null;this.href='{{url_for('view_ingredient2')}};">           
               More Info
            </a>
		</p>
	  </div>
      {% endif %}   
	<ul id="view_substitute_list">
        {# Check if there are common substitutes associated with the ingredient.
           A flag is used to have 'Common Substitutes' appear only once in the loop. #}
		{% set ns = namespace(flag=true) %}{% for key, value in ingredient.items() %} {% if
      sub_ingredient_search(key) in key %}{% set ingredientName = ("name_"+key) %}
        {% if ns.flag == true %}
        Common Substitutes:
        {% set ns.flag = namespace(flag=false) %}
        {% endif %}
        <!-- Link to open modal of displayed ingredient-->
		<li><a href="{{url_for('view_ingredient2', ingredient_name=ingredient[ingredientName])}}" data-remote="false"
				data-toggle="ajaxModalIngredient"><i class="fas fa-leaf" style="color: green;"></i> {{value}}</a></li>
		{% endif %}{% endfor %}
	</ul>
  </div>
    <div class="modal-footer md-form d-flex justify-content-center">
      <button type="button" class="btn btn-indigo custom-close">
        Close
      </button>
    </div>
  </div>
</div>
<script>
/* Ajax Modal */
$(document).ready(function () {
  $(".custom-close").on("click", function () {
    $(".modal-backdrop").remove();
    $("#ajaxModalIngredient").remove();
    $("#ajaxModalIngredient2").remove();
  });

      $('[data-toggle="ajaxModalIngredient"]').on("click", function (e) {
    $("#ajaxModalIngredient2").remove();
    e.preventDefault();
    var $this = $(this),
      $remote = $this.data("remote") || $this.attr("href"),
      $modal = $(
        '<div class="modal" id="ajaxModalIngredient2"><div class="modal-body"></div></div>'
      );
    $("body").append($modal);
    $modal.modal({ backdrop: "static", keyboard: false });
    $modal.load($remote);
  }); 
});
</script>