{% extends "base.html" %}
 {% block content %}
<div class="modal-dialog modal-md pt-5 mt-5" role="document">
  <div class="container modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">       
        {{ingredient.name}}
      </h4>
      <button type="button" class="close custom-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <div>
        {% if ingredient.food_group %}
        <p>Food Group: {{ingredient.food_group}}</p>
        {% else %}
        <p>User Submitted Ingredient</p>
        {% endif %}
      </div>
      <div>
        <p>{{ingredient.description}}</p>
      </div>
      <div>
        <p>
          <a
            href="https://en.wikipedia.org/wiki/{{ingredient.wikipedia_id}}"
            target="_blank"
            >Wikipedia Article</a
          >
        </p>       
      </div>
        <p>Common Substitutes:</p>
    <ul class="" id="view_substitute_list">
      
      {% for ingID, value in ingredient.items() %} {% if
      ingredient_search(ingID) in ingID %}{% set ingredientName = ("name_"+ingID) %}
      <li><a class="custom-close"
      href="{{url_for('view_ingredient2', ingredient_name=ingredient[ingredientName])}}"
              data-remote="false"
              data-dismiss="modal"
              data-toggle="ajaxModalIngredient"               
      ><i class="fas fa-leaf"></i> {{value}}</a></li>
      {% endif %}{% endfor %}
    </ul>
  </div>
    <div class="modal-footer md-form d-flex justify-content-center">
      <button type="button" class="btn btn-indigo custom-close">
        Close
      </button>
    </div>
  </div>
</div>
{% endblock %}{% block js %}
<script>
  $(".custom-close").on("click", function () {
    $(".modal-backdrop").remove();
    $("#ajaxModalIngredient").remove();
    $("#ajaxModalIngredient2").remove();
    console.log("custom-close");
    /* any changes will be lost*/
  });

      $('[data-toggle="ajaxModalIngredient"]').on("click", function (e) {
    $("#ajaxModalIngredient2").remove();
    e.preventDefault();
    var $this = $(this),
      $remote = $this.data("remote") || $this.attr("href"),
      $modal = $(
        '<div class="modal" id="ajaxModalIngredient2"><div class="modal-body"></div></div>'
      );
    $("body").append($modal);
    $modal.modal({ backdrop: "static", keyboard: false });
    $modal.load($remote);
  });

    function myFunctiondrop() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>
{% endblock %}